@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://img.freepik.com/free-photo/window-room-with-surreal-mystical-view_23-2150309321.jpg?w=1380&t=st=1682371399~exp=1682371999~hmac=50bd704be44466e5301873d494b368a9c439f1ad6a443faf7c1f082eefc03986);
    background-repeat: no-repeat;
    background-size:contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.main-heading {
    font-family: Mate SC, sans-serif;
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 35px;
    color: white;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputContainerinput[type=number] {
    padding: 8px;
    font-size: 20px;
    font-family: Mate SC, sans-serif;
}

.inputContainer input[type=number]:read-only {
    text-align: center;
}

.inputContainer p {
    font-family: Mate SC, sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 8px;
}

.inputContainer button {
    width: 100%;
    height: 40px;
    font-size: 35px;
    font-weight: bold;
    font-family: Mate SC, sans-serif;
    margin-top: 15px;
    text-align: center;
    border-style:none;
    border-radius: 10px;
    background-color: pink;
}


.inputContainer button:hover {
    background-color: palevioletred;
}


.calculatorInputs {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    padding-top: 5px;
}


.outputContainer {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    margin-top: 15px;
}